{% extends "index.html" %}
{% load render_table from django_tables2 %}
<!doctype html>
<html>
<head>
    <title>List of persons</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
{% block creating %}
    <h1 style="color: #337ab7">Create Containing</h1>
    <form method="post">{% csrf_token %}
        {{ form }}
        <input class="btn btn-default" type="submit" value="Create">
    </form>
{% endblock %}
{% block content %}
    {% render_table table %}
{% endblock %}
</body>
</html>