<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<h1 style="color: #337ab7">Update {{ header }}</h1>
<form method="post">{% csrf_token %}
    {{ form }}
    <input class="btn btn-default" type="submit" value="Update">
</form>
</body>
</html>