<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="btn-group" role="group" aria-label="...">
    <a href="/{{ entity }}/update/{{ record.id }}">
        <button type="submit" class="btn btn-default">Update</button>
    </a>
    <a href="/{{ entity }}/delete/{{ record.id }}">
        <button type="submit" class="btn btn-default">Delete</button>
    </a>
</div>
</body>
</html>