{% load group_checking %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Диетическая столовая</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<ul class="nav nav-pills">
    <li role="presentation" class="{% if request.resolver_match.url_name == "dish" %}active{% endif %}"><a
            href="/dish">Dishes</a></li>
    {% if request.user|has_group:"Managers" %}
        <li role="presentation" class="{% if request.resolver_match.url_name == "product" %}active{% endif %}"><a
                href="/product">Products</a></li>
        <li role="presentation" class="{% if request.resolver_match.url_name == "supplier" %}active{% endif %}"><a
                href="/supplier">Suppliers</a></li>
        <li role="presentation" class="{% if request.resolver_match.url_name == "containing" %}active{% endif %}"><a
                href="/containing">Containing</a></li>
        <li role="presentation" class="{% if request.resolver_match.url_name == "delivery" %}active{% endif %}"><a
                href="/delivery">Delivery</a></li>
    {% endif %}
</ul>
<a href="/accounts/logout" style="position: absolute; top: 10px;
right: 10px">
    <button type="submit" class="btn btn-default">Log Out</button>
</a>
{% block creating %}
{% endblock %}

{% block content %}
{% endblock %}
</body>
</html>